<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{params["blog_name"]}}</title>
    <!-- {{params["blog_name"]}} -->

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>

  <body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <i class="fas fa-tools" style="font-size:50px"></i>
              <h1>Admin Panel</h1>
              <span class="subheading">Manage your post and change them</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Basic Actions</h1>
          <a href="/edit-post/0">
              <button class="btn btn-primary">Add new posts</button>
          </a>  
          <a href="/edit-video/0">
            <button class="btn btn-primary">Add new Video</button>
          </a>  
          <a href="/edit-university/0">
            <button class="btn btn-primary">Add new University</button>
          </a>  
          <a href="/logout">
              <button class="btn btn-primary">LogOut</button>
          </a>  

          <hr>

          <h1>Upload File</h1>
          <form action="/uploader" method="POST" enctype="multipart/form-data">
            <input type="file" id="myfile" name="file1"> 
            <button type="submit" class="btn btn-primary">Submit</button>               
          </form>

          <hr>
          

          <h1>Edit Posts</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {%for post in posts%}
                <tr>
                  <td>{{post.sno}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.date}}</td>
                  <td>
                      <a href="/edit-post/{{post.sno}}">
                          <button class="btn btn-primary">Edit</button>
                      </a>
                  </td>
                  <td>
                      <a href="/delete-post/{{post.sno}}">
                          <button class="btn btn-primary">Delete</button>
                      </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr>
          

          <h1>Edit Videos</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {%for vid in video%}
                <tr>
                  <td>{{vid.sno}}</td>
                  <td>{{vid.title}}</td>
                  <td>{{vid.date}}</td>
                  <td>
                      <a href="/edit-video/{{vid.sno}}">
                          <button class="btn btn-primary">Edit</button>
                      </a>
                  </td>
                  <td>
                      <a href="/delete-video/{{vid.sno}}">
                          <button class="btn btn-primary">Delete</button>
                      </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr>

          <h1>User details</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {%for user in users%}
                <tr>
                  <td>{{user.sno}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.date}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr>
          
          <h1>Edit University details</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {%for detail in details%}
                <tr>
                  <td>{{detail.sno}}</td>
                  <td>{{detail.title}}</td>
                  <td>{{detail.date}}</td>
                  <td>
                      <a href="/edit-university/{{detail.sno}}">
                          <button class="btn btn-primary">Edit</button>
                      </a>
                  </td>
                  <td>
                      <a href="/delete-university/{{detail.sno}}">
                          <button class="btn btn-primary">Delete</button>
                      </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div> 
      </div>      
    </div>




    <div>&nbsp;</div>
    <!-- Footer -->
    <footer  style="background-image: url('{{ url_for('static', filename='img/footer-bg.gif') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="{{params['tw_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse fhover" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{params['fb_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse fhover"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{params['gh_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse fhover"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright © E-tourist Guide</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/master.js') }}"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  </body>

</html>