<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{params["blog_name"]}}</title>
    <!-- {{params["blog_name"]}} -->

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  </head>

  <body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin Panel</h1>
              <span class="subheading">Manage your post, video and change them</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Basic Actions</h1>
            <a href="/dashboard">
                <button class="btn btn-primary">Dashboard Home</button>
            </a>  
            <a href="/logout">
                <button class="btn btn-primary">LogOut</button>
            </a>
            <hr>
    <h1>Add/Edit Videos</h1>
    <form name="sentMessage" id="contactForm" novalidate action="/edit-video/{{sno}}" method="POST">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" id="title" name= 'title' value="{{video.title}}" required data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>TagLine</label>
            <input type="text" class="form-control" placeholder="TagLine Goes Here" id="tline" value="{{video.tagline}}"name= 'tline' required data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Slug</label>
            <input type="text" class="form-control" value="{{video.slug}}" placeholder="Slug Goes here" id="slug" name= 'slug'required data-validation-required-message="Please enter your phone number.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>link to the video</label>
            <textarea rows="5" class="form-control" placeholder="Content" id="Content" name="Content" required data-validation-required-message="Please enter a message.">{{video.link}}</textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </div>
      </form>

    <div>&nbsp;</div>
    <!-- Footer -->
    <footer  style="background-image: url('{{ url_for('static', filename='img/footer-bg.gif') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="{{params['tw_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse fhover" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{params['fb_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse fhover"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{{params['gh_url']}}", target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x" style="color: grey;"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse fhover"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright © E-tourist Guide</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/master.js') }}"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  </body>

</html>