<div class="container">
  <a class="dropdown-item" href="#">BHU</a>
  <a class="dropdown-item" href="#">JNU</a>
  <a class="dropdown-item" href="#">IIT JAM</a>
  <a class="dropdown-item" href="#">DU</a>
  <a class="dropdown-item" href="#">GATB</a>
  <a class="dropdown-item" href="#">GATE Life Science</a>
  <a class="dropdown-item" href="#">JAMIA MILLIA ISLAMIA </a>
  <a class="dropdown-item" href="#">CSIR NET</a>
  <a class="dropdown-item" href="#">ICMR</a>
  <a class="dropdown-item" href="#">BET</a>
  <a class="dropdown-item" href="#">GS (GRADUATE SHOOL ADMISSION)-TIFR</a>
  <a class="dropdown-item" href="#">IISER </a>
  <a class="dropdown-item" href="#">NCBS</a>
</div>