{% extends "layout.html" %}
{% block body %}
<div class="container-fluid" style="height: auto !important;">

    <div class="row" id="sticky-d">
        
        <div class="col-md-9 bg-black px-0" id="video-box" style="background-color: black;">
            <div class="container videoContainer embed-responsive embed-responsive-16by9 px-3">
                <iframe class="embed-responsive-item" src="{{play}}" allowfullscreen=""></iframe>
            </div>
            <hr>
            <div class="other bg-light" style="height: auto !important;">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                  </li>
                  <li class="nav-item" role="presentation">
                      <a class="nav-link" id="qna-tab" data-toggle="tab" href="#qna" role="tab" aria-controls="qna" aria-selected="false">Q&amp;A</a>
                  </li>
                  <li class="nav-item" role="presentation">
                      <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Files</a>
                  </li>
                  <li class="nav-item" role="presentation">
                      <a class="nav-link" id="announcements-tab" data-toggle="tab" href="#announcements" role="tab" aria-controls="announcements" aria-selected="false">Announcements</a>
                  </li>
              </ul>
            </div>
        </div>
  
        <div class="col-md-3 px-0" id="course-content-box">
            <div class="row mx-0 py-2 px-3 bg-lgrey">
                <h5> Course Content<i class="mx-2 fas fa-plus" id="toggleCourse" aria-hidden="true"></i></h5>
                <button id="togglePlayer" class="btn btn-sm btn-danger mx-3">Hide Player</button>
            </div>
        </div>
  
    </div>
    
  </div>

{% endblock %}